.contact-form{ margin-top:15px;}
.contact-form .textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#372d2b; border-color:#00b09c; color:#fff; margin:2px;}
.main-btn:hover{ background:#EBC03B; color:white;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}

#btn_correction:hover{
    color:white;
}

#btn_write{
    color:white;
}

#h2_title{
   padding-top:20px;
   padding-bottom:20px;
   font-weight:bold;
}

#a_smhrd{
   color:#EBC03B;
}

#a_smhrd:hover{
   color:#aa9144;
}


#btn_save:hover{
    color:white;
}



#write{
   /* border-radius: 10px;
    border:0;
    outline:0;
    float:right;*/
    background-color:#372d2b;
    color:white;
   /* padding-left:10px;
    padding-right:10px;*/


}

/*
#btn_save:hover{
    background-color:#EBC03B;
    color:white;
}

#btn_save:focus{
    border:0;
    outline:0;
}

#btn_save:active{
    background-color:#EBC03B;
    color:white;
    outline:0;
    border:0;
}*/

#write:hover{
    background-color:#EBC03B;
    color:white;
}

#write:focus{
    border:0;
    outline:0;
}

#write:active{
    background-color:#EBC03B;
    color:white;
    outline:0;
    border:0;
}

#btn_revise:hover, #btn_delete:hover, #btn_index:hover{
    background-color:#EBC03B;
    color:white;
}



#btn_revise:focus, #btn_delete:focus, #btn_index:focus{
    border:0;
    outline:0;
}

#btn_revise:active, #btn_delete:active, #btn_index:active{
    background-color:#EBC03B;
    color:white;
    outline:0;
    border:0;
}