.word{
    display:inline-block;
    outline:0;
    border:0;
    background-color:#ffffff;
}

.word:hover{
    /*background-color:#EBC03B;*/
    color:#EBC03B;
}


/*.container{
    text-align:center;
}*/

#content_word{
    padding:120px;
}

#h2_container{
    display:flex;

}

/*
#word_container{
    padding-top:100px;
    padding-bottom:100px;
}*/

.word{
    color:#372d2b;
    padding:10px;
    font-size:17px;
}

#a_smhrd{
   color:#EBC03B;
}

#a_smhrd:hover{
   color:#aa9144;
}

#word_container2{
    text-align:center;
}