#pagination_container{
    display:flex;
    justify-content:center;
}

#write{
    border-radius: 10px;
    border:0;
    outline:0;
    float:right;
    background-color:#372d2b;
    color:white;
    padding-left:10px;
    padding-right:10px;
  /*  display:inline-block;*/

}

#write:hover{
    background-color:#EBC03B;
    color:white;
}

/*#write:hover{
    background-color:black;
    color:white;
}*/
.notice_container{
 /*   display:flex;*/
    /*justify-content:space-between;*/
    flex-wrap:wrap;
 /*   justify-content:space-evenly;*/
}
#search_container{
    width:300px;
    height:50px;
    /*justify-content:flex-end;*/
    float:right;
   /*   width:300px;
      height:80px;
      display:inline-block;*/
     /* display:flex;*/

}

/*
#pagination{
    background-color:black;
}*/

#h2_title{
    /*align-self:flex-end;*/
    /*justify-content:center;*/
    display:inline-block;
/*   justify-content: center;*/
}
/*
#notice_container{
    display:flex;
}*/

#btn_search:hover{
    background-color:#EBC03B;
}

.contact_title{
    color:black;
}

#mainlogo{
    width:190px;
    height:50px;
    position: absolute;
    right:147%;
}

.notice_container{
    display:flex;
    justify-content:space-around;
}

#a_smhrd{
   color:#EBC03B;
}

#a_smhrd:hover{
   color:#aa9144;
}