 #mainlogo{
    width:190px;
    height:50px;
    position:absolute;
    right:147%;
 }

#a_smhrd{
   color:#EBC03B;
}

#a_smhrd:hover{
   color:#aa9144;
}


/*th{
    border-top: 1px solid;
   *//* border-bottom: 1px solid;*//*
}

td{

    border-bottom: 1px solid;
}*/


/*#th_title{
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      background-color:#ddd;
      padding-top:10px;
      padding-bottom:10px;
      text-align:center;
}

#td_blank{
     border-top: 1px solid #ddd;
     border-bottom: 1px solid #ddd;
     background-color:#ddd;
     *//*visibility:hidden;*//*
     padding-top:10px;
     padding-bottom:10px;
     height:50px;
}

#p_container{
    padding:20px;
}

#td_input{
    padding:20px;
}

#td_secret{
    display:inline-block;
}

#lock_img{
    display:inline-block;
}*/

#h2_container{
    display:flex;
    justify-content:space-around;
}

#h2_title{
    text-align:center;
    display:inline-block;

}

#h2_container2{
    display:flex;
    justify-content:space-around;
    height:50px;
    border-top:1px solid #d5d5d5;
    border-bottom:1px solid #d5d5d5;
    background-color:rgb(240, 240, 240);
    text-align:center;
}

#h2_title2{
    padding-top:10px;
    font-size:20px;
}

#lock_img{
    width:25px;
    height:25px;
}

#info{
    display:inline-block;
}

#info_container{
    display:flex;
    justify-content:center;
    padding:20px;

}

#lock_img{
    margin-right:10px;
    display:inline-block;
}

#h2_title3{
    display:flex;
    justify-content:space-around;
    height:50px;
    border-top:1px solid #d5d5d5;
    border-bottom:1px solid #d5d5d5;
    background-color:rgb(240, 240, 240);
    text-align:center;
}