#result{
    display:inline-block;
     align-self: center;
}

#result_img{
    display:inline-block;
}

#result_word{
    text-align:center;
    padding-bottom:20px;
}


#result_container{
    display:flex;
    justify-content : space-around;
}

/*#color_container{
    justify-content: center;
}*/

#btn_decorate, #btn_other{
    margin-top:30px;
    margin-bottom:30px;
    border-radius:30px;
    background-color:#372d2b;
    color:white;
    outline:0;
    border:0;
}

#btn_decorate{
   margin-right:5px;
}

#color_container{
    display:flex;
}



#color_1, #color_2, #color_3{
   /* display:inline-black;*/
    width:100px;
    height:100px;
    border:0.5px solid #000;
}



#result_logo{
    width:300px;
    height:300px;

}


#btn_other:hover, #btn_decorate:hover{
    background-color:#EBC03B;
    color:white;
}

#btn_container{
    text-align: center;
}

#content{
    padding-top:200px;
    padding-bottom:200px;
}

#a_smhrd{
   color:#EBC03B;
}

#a_smhrd:hover{
   color:#aa9144;
}