<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% for field in form %}
        <input
          type="{{ field.field.widget.input_type }}"
          class="form-control"
          id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}"
          name="{{ field.name }}"
        />
          {% endfor %}

      </div>
      <input type="submit" value="저장">
  </form>

</body>
</html>